*.elc
/backups
/autosaves
/auto-save-list
/tmp
/elpa
/eshell
/server
/places
/tramp
/.ido.last
/.smex-items
/.recentf
/.mc-lists.el
/bookmarks
/.ac-comphist.dat
.projectile.cache
.projectile-bookmarks.eld
/var
/.url
